@font-face {
  font-family: "iconfont"; /* Project id 4343986 */
  src: url('iconfont.woff2?t=1714761878801') format('woff2');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-project:before {
  content: "\e63d";
}

.icon-setting:before {
  content: "\e605";
}

.icon-logout:before {
  content: "\e609";
}

.icon-organization:before {
  content: "\e6a1";
}

.icon-password:before {
  content: "\e60a";
}

.icon-account:before {
  content: "\e655";
}

.icon-collection:before {
  content: "\e6ea";
}

.icon-mail:before {
  content: "\e64f";
}

.icon-github:before {
  content: "\e600";
}

.icon-code:before {
  content: "\e7ae";
}

.icon-tools:before {
  content: "\e62f";
}

.icon-down-arrow:before {
  content: "\e8f2";
}

.icon-down-arrow-fill:before {
  content: "\e8f3";
}

.icon-setting-fill:before {
  content: "\e871";
}

.icon-description:before {
  content: "\e775";
}

.icon-statistic:before {
  content: "\e64d";
}

.icon-jurassic_toolkit:before {
  content: "\e6a3";
}

.icon-bg-code:before {
  content: "\e63b";
}

.icon-signup:before {
  content: "\e62d";
}

.icon-search:before {
  content: "\e752";
}

.icon-signin:before {
  content: "\e62e";
}

.icon-in:before {
  content: "\e669";
}

.icon-visualization:before {
  content: "\e65c";
}

.icon-data:before {
  content: "\e60e";
}

.icon-about-us:before {
  content: "\e608";
}

.icon-home:before {
  content: "\e62a";
}

.icon-model:before {
  content: "\e708";
}

