@font-face {
  font-family: "iconfont"; /* Project id 4343986 */
  src: url('iconfont.woff2?t=1700816019813') format('woff2'),
       url('iconfont.woff?t=1700816019813') format('woff'),
       url('iconfont.ttf?t=1700816019813') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e600";
}

.icon-yuandaimaxiayoudaima:before {
  content: "\e7ae";
}

.icon-gongjuxiang:before {
  content: "\e62f";
}

.icon-xiangxiazhankai-xianxingyuankuang:before {
  content: "\e8f2";
}

.icon-xiangxiazhankai-yuankuang:before {
  content: "\e8f3";
}

.icon-setting-fill:before {
  content: "\e871";
}

.icon-miaoshu:before {
  content: "\e775";
}

.icon-tongji:before {
  content: "\e64d";
}

.icon-jurassic_toolkit:before {
  content: "\e6a3";
}

.icon-bg-code:before {
  content: "\e63b";
}

.icon-zhuce:before {
  content: "\e62d";
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-denglu:before {
  content: "\e62e";
}

.icon-in:before {
  content: "\e669";
}

.icon-data:before {
  content: "\e65c";
}

.icon-data1:before {
  content: "\e60e";
}

.icon-contactus:before {
  content: "\e608";
}

.icon-Home:before {
  content: "\e62a";
}

.icon-moxing:before {
  content: "\e708";
}

