:root {
    /* --main-color : #f56a6a; */
    /* --main-color: #42b983; */
    --main-color: rgb(16, 16, 16);
    --main-fill-color: rgb(16, 16, 16);
    --main-border-color: rgb(76, 76, 76);
    --shadow-color: rgba(139, 73, 225, 0.99);
    --light-color: rgba(240, 230, 230, 0.7);
    --transplant-color: rgba(245, 106, 106, 0.1);
    --backFilter: saturate(180%) blur(10px);
    --sideBarTransplate: rgba(255, 255, 255, 0.7);
    --mainTransplate: rgba(255, 255, 255, 0.9);
    --slight-light-color: rgb(255, 255, 255, 0.1);
    --nav-layer: 10;
    --focus-time: .3s;
    --darkHtml: none;
    --darkImg: none;
    --blockquote-color: rgba(117, 117, 117, 0.9);
    --blockquote-font: "NerdFontMono", var(--base-font), serif;
    --base-font: "NerdFontMono";
    --title-font: "NerdFontMono";
    --quote-title-font-size: 0.9em;
    --quote-tag-font-size: 1.1em;
    --quote-lineheight: 33px;
    --monospace-font: 'Cascadia code';

    --normal-font-color-1: #1f2328;
    --normal-font-color-3: #636c76;
    --sidebar-font-color: #1f2328;
    --main-panel-font-color: #1f2328;
    --light-font-color: rgb(127, 136, 143);

    --animation-7s: .7s cubic-bezier(0.23, 1, 0.32, 1);
    --animation-5s: .5s cubic-bezier(0.23, 1, 0.32, 1);
    --animation-3s: .35s cubic-bezier(0.23, 1, 0.32, 1);
    --animation-1s: .1s cubic-bezier(0.23, 1, 0.32, 1);
    --gray-box-shadow-0: 0 0 8px 3px rgba(182, 181, 182, 0.9);
    --gray-box-shadow-1: 0 0 25px 3px rgba(182, 181, 182, 0.3);
    --transplant-main-color-1: rgba(16, 16, 16, 0.8);
    --transplant-main-color-2: rgba(16, 16, 16, 0.1);
    --transplant-main-color-3: rgba(16, 16, 16, 0.05);

    --normal-border-color: #dcdfe6;

    --error-border-color: rgb(254, 226, 226);
    --error-bg-color: rgb(254, 242, 242);
    --error-font-color: rgb(147, 33, 33);

    --text-body-size-small: 0.75rem;
    --text-body-size-medium: 0.875rem;
    --text-body-size-large: 1rem;

    --profile-avatar-sidebar-width: 300px;
    --status-color-green: #6DC45F;
    --status-color-yellow: #dbdb21;
    --status-color-red: #f74a4a;
    --status-color-purple: #801EFF;

}

@font-face {
    font-family: "Cascadia code";
    src: url("../fonts/CascadiaCode.woff2");
}

@font-face {
    font-family: "NerdFontMono";
    src: url("../fonts/RobotoSlab-Regular.ttf");
}


html::-webkit-scrollbar {
    width: 15px;
}

html::-webkit-scrollbar-track {
    background: var(0, 0, 0, 0.1);
}

html::-webkit-scrollbar-thumb {
    background: var(--main-fill-color);
    border-radius: .3em;
}


body {
    /* background: #ffffff; */
    /* TODO : 为背景图片设置的锚点 */
    /* background-image: url("https://pic3.zhimg.com/v2-b7408711f99a5dc49decc3ce0aee6ac6_r.jpg"); */
    /* background-image: url("https://pic2.zhimg.com/v2-5c05637be3d152a4f5af38dab075b8b1_r.jpg"); */
    /* background-image: url("https://pic1.zhimg.com/80/v2-6852d5a87a18b03248d5e79a2d481771_720w.png"); */
    background-color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
    
}

button {
    border: none;
    background-color: white;
}


input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
button.primary,
.button.primary {
    background-color: var(--main-color);
    box-shadow: none;
    color: #ffffff !important;
}

input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
button.primary:hover,
.button.primary:hover {
    background-color: var(--main-color);
    opacity: 0.9;
}

input[type="submit"].primary:active,
input[type="reset"].primary:active,
input[type="button"].primary:active,
button.primary:active,
.button.primary:active {
    background-color: var(--main-color);
    opacity: 0.6;
}

div,
span,
button,
a {
    font-family: var(--base-font);
}

#random-avatar-gen {
    display: none;
}

.m-flex-center {
    display: flex;
    justify-self: center;
    align-items: center;
}