:root {
    --nav-height: 100px;
    --nav-block-padding: 7px;
}

nav {
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--nav-layer);
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    background: white;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    width: 98.5%;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -ms-transition: .3s ease;
}

nav a {
    color: black;
    text-decoration: none;
    border-radius: .6em;
    cursor: pointer;
    padding: var(--nav-block-padding);
}

nav a:hover {
    color: white;
    background-color: var(--main-fill-color);
}

nav a.router-link-exact-active {
    color: white;
    background-color: var(--main-fill-color);
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    height: fit-content;
}

.nav-router-item {
    margin: 0 10px;
    height: fit-content;
}

.nav-icon {
    max-height: 32px;
}

.nav-sign-in {
    border-radius: .6em;
    padding: calc(var(--nav-block-padding) - 1px);
    cursor: pointer;
}

.nav-sign-in:hover {
    color: white;
    background-color: var(--main-fill-color);
}

.nav-sign-up {
    border-radius: .6em;
    border: var(--main-border-color) solid 1.5px;
    background-color: rgb(248, 248, 248);
    padding: calc(var(--nav-block-padding) - 1px);
    cursor: pointer;
}

.nav-sign-up:hover {
    color: white;
    background-color: var(--main-fill-color);
}

.nav-i18n {
    cursor: pointer;
    border-radius: .6em;
    padding: var(--nav-block-padding);}

.nav-i18n:hover {
    color: var(--main-color);
    color: white;
    background-color: var(--main-fill-color);
}

.nav-spliter {
    padding: var(--nav-block-padding);
    font-size: 20px;
}

.i18n-item-wrapper {
    height: fit-content;
}

.i18n-list {
    top: calc(var(--nav-height) - 25px); 
    right: 25px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    border-radius: .9em;
}

.i18n-list span {
    height: fit-content;
    cursor: pointer;
    padding: 5px 9px;
    border-radius: .6em;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -ms-transition: .3s ease;
}

.i18n-item {
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.i18n-item div {
    border-radius: .6em;
    height: fit-content;
    padding: 8px 8px;
    margin: 5px 12px;
    cursor: pointer;
    transition: .3s ease;
    user-select: none;
    -webkit-user-select: none;
    -webkit-transition: .3s ease;
    -ms-transition: .3s ease;
}

.i18n-item div:hover {
    color: white;
    background-color: var(--main-fill-color);
}

.i18n-item a{
    font-size: 30px;
    transition: .3s ease;
    border-radius: .3em;
    height: fit-content;
}

.i18n-translate-for-us {
    padding: 10px;
    max-width: 200px;
    font-size: 15px;
    height: fit-content;
}